<body>
    <div class="signupContainer">
        <div class="column is-centerd">
            <div class="column">
                <form id="signup" class="box">
                    <div class="field">
                        <div class="control">
                            <label for="email">Email Address: </label>
                            <input id="email" class="input is-info" name="email" type="email" placeholder="chocolate_lover@gmail.com" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="firstname">First Name: </label>
                            <input id="firstname" class="input is-info" name="firstname" type="text" placeholder="Mary" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="lastname">Last Name: </label>
                            <input id="lastname" class="input is-info" name="lastname" type="text" placeholder="Smith" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="username">Username: </label>
                            <input class="input is-info" name="username" type="text"
                                placeholder="bestbaker4ever" id="username" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="password">Password: </label>
                            <input id="password" class="input is-info" name="password" type="password" placeholder="*******" required>
                            <hr>
                            <button class="button is-info" type="submit" id="signupSubmit" value="Sign up">Submit</button>
                            <button class="button is-info" type="reset" id="cancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

<script src="/js/signup.js"></script>
   

</body>

</html>